<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-orange.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script>
function submitForm() {
 
}
</script>
</head>
<body>
  <form id="imageform" enctype="multipart/form-data" method="post" action="/gear/api/v1/gear/">
    <label for="image">Add an image</label>
    <input name="image" id="image" type="file" accept="image/*;capture=camera"/>
    <br>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="name" name="name">
    <label class="mdl-textfield__label" for="name">Name</label>
  </div>
  <br>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="location" name="location">
    <label class="mdl-textfield__label" for="location">Location</label>
  </div>
    <br>
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button-accent" type="submit" value="Submit"/>
  </form>
</body>
</html>
